/* 
미디어쿼리에서
1. px > %, rem
2. 이미지 크기 %단위
3. flex-direction: row;
   >flex-direction: column;
*/

@media (max-width:769px){
    *{
        font-size: 10px;
    }
    /* header */
    .header{
        position: absolute;
        width: 100%;
        
    }
    .header_inner h1{margin-left: 3%;}
    .sign_in{margin-right: 3%;}
    .logo{width: 120px;}
    /* welcome */
    .welcome{width: 100%; margin-top: 0;}
    .welcome_inner{
        top: 80%;
    }
    .welcome_inner h2{font-size: 2rem;}
    .welcome_inner h3{font-size: 1.2rem;}
    .getstarted>input[type="text"],
    .getstarted>button{height: 40px;
        display: block;
        text-align: center;
        margin: auto;
    }
    .getstarted>input[type="text"]{
        width: 100%;
    }
    .getstarted>button{
        font-size: 0.9rem;
        width: 40%;
        margin-top: 0.5rem;
    }
    .banner{
        flex-direction: column;
        justify-content: flex-start;
        margin-top: 10%;
        text-align: left;
        align-items: start;
        padding-left: 2rem;
        position: relative;
    }
    .banner img{
        width: 80px;
        position: absolute;
        top: -50px;
    }
    .enjoy, .watch, .kid, .create{
        height: auto;
    }
    section>.inner{
        width: 80%;
        flex-direction: column;
        padding: 50px 0;
    }
    .desc{width: 100%; text-align: center;}
    .desc h2{font-size: 1.8rem;}
    .preview{width: 80%;}
    /* 
    flex에서 자식요소 출력 순서 변경
    기본값이 0, 작은값이 먼저 출력됨
    음수도 사용가능
    */
    .watch .inner .desc,
    .create .inner .desc
    {
        order: 1;
    }
    .watch .inner .preview,
    .create .inner .preview{
        order: 2;
    }
    /* faq */
    .faq{padding: 50px 0;}
    .faq_inner{width: 80%;}
    /* footer */
    .footer_inner{
        width: 90%;
    }
    .site .item{
        width: 48%;
        margin-bottom: 20px;
    }
}