/* common */
@import url('https://webfontworld.github.io/busan/Busan.css');
/* css에서 root 설정하기 
전역변수 사용하기
--이름:속성값;
*/
:root{
  --point-color:#E50914;/* 색상 */
  --hovor-color:#170cae;
  --radius-corner:0.2rem/* 모서리 둥글게*/
  }
*{font-size: 15px; font-family: 'busan'; box-sizing: border-box;}
button{ cursor: pointer;}
body{background-color: #000; color: #fff;}
a{color: #fff;}
.inner{width: 1100px; margin: auto; }
  /* 공통 버튼 영역 */
.btn{background-color: var(--point-color); color:#fff;}
  /* header */
.header{position: relative; z-index: 10;}
.header_inner{display: flex;
    justify-content: space-between; align-items: center;}
.header_inner h1{margin-left: 10%;}
.logo{width: 148px;}
.sign_in{display: flex; margin-right: 10%;}
.sign_in form{}
.sign_in select{border-radius: var(--radius-corner); padding: 0.3rem 1.2rem; background-color: transparent; color: #fff; margin-right: 1rem; font-weight: 300;}
.sign_in .login{border-radius: var(--radius-corner); padding:0 0.8rem; font-size: 0.9rem; font-family:'busan';  font-weight: 300;}
  /* welcome */
.welcome{width:100%; height: 80vh; 
    position: relative; margin-top: -80px;
    background: url(../images/main_bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
.welcome::before{
    content: ''; width: 100%; height: 100%; position: absolute;
    background:radial-gradient(ellipse , rgba(0, 0, 0, 0.1931), rgb(0, 0, 0)) 
  }
.welcom_inner{ position: absolute; width: 80%; top: 60%; left: 50%;
    transform: translate(-50%, -50%); text-align: center;
  }
.welcom_inner h2{font-size: 2.67rem; font-weight: 800;
  }
.welcom_inner h3{font-size: 1.6rem;margin: 0.7rem 0;}
.welcom_inner p{}
.getstarted{margin-top: 4rem;}
.getstarted>input[type="text"], 
.getstarted>button{
    height: 55px; vertical-align: middle; outline: none;
    border-radius: var(--radius-corner);
  }
.getstarted>input[type="text"]{
    width: 50%; border: none; background-color: transparent;
    border: 1px solid #eee;
  }
.getstarted>input[type="text"]:focus{
    outline-style: solid;
    outline-offset: 1px;
    outline-width: 1px;
    outline-color: #fff;
    
    background-color: rgba(0, 0, 0, 0.49);
  }
.getstarted>button{
    width: 15%; color:#fff; background-color: var(--point-color);
    font-size: 1.3rem; transition: 0.3s;
  }
.getstarted>button:hover{
    background-color: var(--hover-color) ;
  }
.banner{
    width: 100%;
    display: flex;
    flex-direction: row;
    background: radial-gradient( 51.39% 511.66% at 47.68% -217.91%, #ff9900 0%, #e50914 17.27%, #0e1b4f 79.44%, #000413 100% );
    align-items: center;
    justify-content: center;
    margin-top: 200px;
  }
  /* .banner img.popcorn{
    mix-blend-mode: multiply;
    transform: scale(0.8);
  } */
.banner .banner_text{ text-align: left;}
.banner .banner_text a{ color: #3122ff; text-decoration: unset;
  }
  /* enjoy */
.enjoy, .watch, .kid, .create{
    height: 480px;
    border-bottom: 10px solid #252525;
    position: relative;
    box-sizing: border-box;
  }
  
section>.inner{
    width: 1150px;
    
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
.desc{width: 40%;}
.desc h2{
    font-size: 2.3rem;
    font-weight: 700;
    margin-bottom: 0.8rem;
  }
.desc p{
    font-size: 1.3rem;
  }
.preview{width: 50%;}
.preview img{width: 100%;
  position: relative;
}
.preview video{
  position: absolute;
  right: 515px;
  top: 90px;
  width: 22%;
  z-index: -1;
}
  /* watch */
  .watch .inner .preview img{
    position: relative;
  }
  .watch .inner .preview video{
    width: 19%;
    position: absolute;
    left: 540px;
    top: 40px;
  }
  /* kid */
  /* create */
  /* faq */
.faq{padding: 80px 0; }
.faq_inner{width: 800px; margin: auto;}
.faq h2{text-align: center; 
  font-size: 2.3rem; font-weight: 700; margin: 1rem;}
  /* accordion */
.accordion{}
input[name="item"]{display: none;}

  /* 숨겨지는 부분 */
input[name="item"] + label{
    background-color: gray; display: block;
    padding: 1.3rem; margin-bottom: 0.3rem;} 
    /* 인접선택자 */
input[name="item"] + label i:hover{background-color: #505050;}
input[name="item"] + label i{float: right;} /* 아이콘 */
.faq_content{max-height: 0;overflow: hidden; margin-bottom: 5px; transition: 0.2s;}
/* 
  input checked 
  선택자:checked{}
  1. 인풋을 체크하면 인접한 label에 인접한 faq_content에 높이가 생긴다
  2. 인풋을 체크하면 인접한 label에 자식인 i가 회전한다
  */
input[name="item"]:checked + label + .faq_content{
  max-height: 400px;
  padding: 1.5rem;
  background-color: #505050;
}
input[name="item"]:checked + label i{
  transform: rotate(320deg);
}
.foot_start{
  text-align: center;  
}
.foot_start p{
 padding-bottom: 1rem;
 font-size: 1.2rem;
}
.foot_start>.getstarted{
  width: 30%;
  margin: auto;
}
.foot_start>.getstarted input{width: 65%;}
.foot_start>.getstarted button{width: 30%;}
  /* footer */
.footer{
  
  padding: 80px 0;
}
.footer_inner{
  width: 1000px;
  margin: auto;
}
.sitemap{}
.sitemap h6{font-size: 1.5rem; margin: 0.5rem 0;}
.sitemap .item{display: inline-block; 
  width: 23%;
}
.sitemap .item a{display: block; text-decoration: underline; line-height: 2.5rem;}
.copyright{}
.copyright p:nth-child(1){margin: 2rem 0;}